<section class=" body-font">
    <div class="container px-5 mx-auto lg:px-32">
        <span class="text-xl font-semibold tracking-tighter text-black lg:text-2xl">
            BlogPosts
        </span>
        <div class="flex flex-col mx-auto my-6 md:flex-row">

            <div class="relative ">
                <input type="email" id="v" name="email" placeholder="Search for posts"
                    class="w-full px-4 py-2 mb-4 mr-4 text-base text-black transition duration-500 ease-in-out transform bg-black border border-transparent border-gray-800 rounded-lg focus:border-blue-500 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
            </div>
        </div>
        <div class="flex flex-col w-full mb-2 text-left ">
            <h1 class="mb-2 text-6xl font-black tracking-tighter text-black lg:text-7xl md:text-4xl">
                Page transitions are a fundamental part of website navigation and user experience.
            </h1>

        </div>
    </div>
</section>
<section class="text-gray-600 body-font ">
    <div class="container px-5 mx-auto lg:pt-12 lg:px-32 lg:py-4">
        <div class="flex flex-col lg:flex-row lg:space-x-12">
            <div
                class="w-full px-4 mt-12 text-lg leading-snug tracking-tight text-gray-400 divide-y divide-gray-900 lg:px-0 lg:w-3/4">
                <p class="pb-12">Turd polishing put a record on and see who dances, dog and pony show, nor
                    one-sheet. Ensure to follow requirements when
                    developing solutions three-martini lunch, that jerk from finance really threw me under the
                    bus. Bob called an all-hands
                    this afternoon.
                    <span
                        class="inline-flex items-center w-full pt-4 font-normal tracking-tight text-blue-500 text-md hover:text-black">
                        Read More
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="ml-4 icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="15" y1="16" x2="19" y2="12" />
                            <line x1="15" y1="8" x2="19" y2="12" />
                        </svg>

                    </span>

                </p>


                <p class="py-12">We've got kpis for that this is a no-brainer viral engagement pixel pushing.
                    Run
                    it up the flagpole please use
                    "solutionise" instead of solution ideas! :) dunder mifflin form without content style
                    without meaning target rich
                    environment. Three-martini lunch. Get buy-in prioritize these line items, or deliverables
                    yet back to the drawing-board
                    let's put a pin in that, close the loop. Manage expectations product market fit win-win-win.
                    The horse is out of the
                    barn poop, but can you put it on my calendar? but drink from the firehose, but quick-win.
                    <span
                        class="inline-flex items-center w-full pt-4 font-normal tracking-tight text-blue-500 text-md hover:text-black">
                        Read More
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="ml-4 icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="15" y1="16" x2="19" y2="12" />
                            <line x1="15" y1="8" x2="19" y2="12" />
                        </svg>

                    </span>
                </p>

                <p class="py-12">If you could do that, that would be great this is a no-brainer, or Q1 regroup.
                    Groom the backlog what do you feel you
                    would bring to the table if you were hired for this position. Back of the net. Scope creep
                    can you slack it to me?
                    shotgun approach build on a culture of contribution and inclusion please advise soonest.
                    <span
                        class="inline-flex items-center w-full pt-4 font-normal tracking-tight text-blue-500 text-md hover:text-black">
                        Read More
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="ml-4 icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="15" y1="16" x2="19" y2="12" />
                            <line x1="15" y1="8" x2="19" y2="12" />
                        </svg>

                    </span>
                </p>

            </div>
            <div class="w-full max-w-screen-sm m-auto mt-12 lg:w-1/4">
                <div class="lg:pl-4">
                    <div class="flex ">
                        <div>
                            <span class="mb-4 text-xl font-semibold tracking-tighter text-black">
                                Recommended Posts
                            </span>
                            <ul class="text-sm font-semibold tracking-tight text-black divide-y divide-gray-900">
                                <li>
                                    <a href="#"
                                        class="inline-flex items-center pt-2 text-sm font-normal tracking-tight hover:text-black text-coolGray-500">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="mr-2 icon icon-tabler icon-tabler-chevrons-right" width="24"
                                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <polyline points="7 7 12 12 7 17" />
                                            <polyline points="13 7 18 12 13 17" />
                                        </svg>
                                        If any Environment Variables
                                        </p>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-flex items-center pt-2 text-sm font-normal tracking-tight hover:text-black text-coolGray-500">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="mr-2 icon icon-tabler icon-tabler-chevrons-right" width="24"
                                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <polyline points="7 7 12 12 7 17" />
                                            <polyline points="13 7 18 12 13 17" />
                                        </svg>
                                        If any Environment Variables
                                        </p>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-flex items-center pt-2 text-sm font-normal tracking-tight hover:text-black text-coolGray-500">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="mr-2 icon icon-tabler icon-tabler-chevrons-right" width="24"
                                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <polyline points="7 7 12 12 7 17" />
                                            <polyline points="13 7 18 12 13 17" />
                                        </svg>
                                        If any Environment Variables
                                        </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>