<div class="container items-center px-5 py-12 lg:px-20">

    <div class="w-full h-screen bg-white ">
        <div class="w-64 h-full p-8 bg-white border rounded-lg sm:w-1/2 md:w-64 ">
            <div class="flex-grow py-2">
                <div class="inline-flex items-center w-full text-white">
                    <a href="./index.html" class=" lg:px-6 focus:outline-none">
                        <div class="inline-flex items-center">
                            <div class="w-2 h-2 p-2 mr-2 rounded-full bg-gradient-to-tr from-blue-400 to-blue-500">
                            </div>
                            <h2
                                class="block p-2 text-xl font-normal tracking-tighter text-gray-500 transition duration-500 ease-in-out transform cursor-pointer hover:text-gray-500 lg:text-x lg:mr-8">
                                wickedblocks
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="text-gray-700">
                <li>
                    <a>
                        <button
                            class="inline-flex items-center w-full px-4 py-1 my-2 font-semibold text-left text-white transition duration-500 ease-in-out transform bg-blue-600 border-blue-600 rounded-md cursor-pointer text-base focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-blue-800">
                            <span class="inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="mr-2 icon icon-tabler icon-tabler-circle-1" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="9" />
                                </svg>
                                Link
                            </span>
                            <span class="ml-auto">1</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a>
                        <button
                            class="inline-flex items-center w-full px-4 py-1 my-2 text-left text-gray-500 transition duration-500 ease-in-out transform bg-gray-100 rounded-md text-base hover:bg-gray-300 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2"><span
                                class="inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="mr-2 icon icon-tabler icon-tabler-circle-1" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="9" />
                                </svg>
                                Link
                            </span>
                            <span class="ml-auto">1</span></button>
                    </a>
                </li>
                <li>
                    <a>
                        <button
                            class="inline-flex items-center w-full px-4 py-1 my-2 text-left text-gray-500 transition duration-500 ease-in-out transform bg-gray-100 rounded-md text-base hover:bg-gray-300 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2"><span
                                class="inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="mr-2 icon icon-tabler icon-tabler-circle-1" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="9" />
                                </svg>
                                Link
                            </span>
                            <span class="ml-auto">1</span></button>
                    </a>
                </li>
                <li>
                    <a>
                        <button
                            class="inline-flex items-center w-full px-4 py-1 my-2 text-left text-gray-500 transition duration-500 ease-in-out transform bg-gray-100 rounded-md text-base hover:bg-gray-300 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2"><span
                                class="inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="mr-2 icon icon-tabler icon-tabler-circle-1" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="9" />
                                </svg>
                                Link
                            </span>
                            <span class="ml-auto">1</span></button>
                    </a>
                </li>
            </ul>
            <!--NAV end-->
        </div>
    </div>
</div>