<div class="container items-center px-5 py-12 lg:px-20">
    <div class="flex flex-col flex-wrap pb-6 mb-8 text-gray-500 ">

        <div class="w-full h-screen bg-white ">
            <div class="w-64 h-full p-8 bg-white border rounded-lg sm:w-1/2 md:w-64 ">
                <ul class="text-gray-700">
                    <li
                        class="block p-2 mb-2 text-xl font-normal tracking-tighter text-gray-500 cursor-pointer hover:text-gray-400 lg:text-xl">
                        <a>
                            Link
                        </a>
                    </li>
                    <li
                        class="block p-2 mb-2 text-xl font-normal tracking-tighter text-gray-500 cursor-pointer hover:text-gray-400 lg:text-xl">
                        <a>
                            link
                        </a>
                    </li>
                    <li
                        class="block p-2 mb-2 text-xl font-normal tracking-tighter text-gray-500 cursor-pointer hover:text-gray-400 lg:text-xl">
                        <a>
                            Posts
                        </a>
                    </li>
                    <li
                        class="block p-2 mb-2 text-xl font-normal tracking-tighter text-gray-500 cursor-pointer hover:text-gray-400 lg:text-xl">
                        <a>
                            Link
                        </a>
                    </li>
                </ul>
                <!--NAV end-->
            </div>
        </div>
    </div>