<section class="text-gray-700 ">
    <div class="container flex flex-col items-start px-5 py-16 mx-auto lg:items-center md:flex-row lg:px-28">
        <div class="w-full mb-10 lg:w-5/6 lg:max-w-lg md:w-1/2">
            <img class="object-cover object-center rounded" alt="hero"
                src="https://dummyimage.com/720x600/F3F4F7/8693ac">
        </div>
        <div class="flex flex-col items-start text-left lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16">
            <h2 class="mb-8 text-xs font-semibold tracking-widest text-black uppercase title-font">Your tagline</h2>
            <h1 class="mb-8 text-2xl font-bold tracking-tighter text-left text-black lg:text-5xl title-font">
                Medium length display headline .</h1>
            <div class="flex flex-wrap -mx-4 -mt-4 -mb-10 sm:-m-4 ">
                <div class="flex flex-col items-start p-4 mb-6 text-left md:w-1/2 md:mb-0">
                    <div
                        class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mb-5 text-black rounded-full bg-gray-50">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" <svg
                            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-aperture"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <line x1="3.6" y1="15" x2="14.15" y2="15"></line>
                            <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(72 12 12)"></line>
                            <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(144 12 12)"></line>
                            <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(216 12 12)"></line>
                            <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(288 12 12)"></line>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="mb-3 text-lg font-medium tracking-tighter text-gray-700 title-font">
                            Information 1</h2>
                        <p class="text-base leading-relaxed">Explain 2 great feature here. Information about the
                            feature.</p>
                        <a href="#"
                            class="inline-flex items-center font-semibold text-blue-600 md:mb-2 lg:mb-0 hover:text-black "
                            title="read more">
                            Learn More
                            <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20"
                                height="20" fill="currentColor">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col items-start p-4 mb-6 text-left md:w-1/2 md:mb-0">
                    <div
                        class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mb-5 text-black rounded-full bg-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-aperture"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <line x1="3.6" y1="15" x2="14.15" y2="15"></line>
                            <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(72 12 12)"></line>
                            <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(144 12 12)"></line>
                            <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(216 12 12)"></line>
                            <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(288 12 12)"></line>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="mb-3 text-lg font-medium tracking-tighter text-gray-700 title-font">
                            Information 1</h2>
                        <p class="text-base leading-relaxed">Explain 2 great feature here. Information about the
                            feature.</p>
                        <a href="#"
                            class="inline-flex items-center font-semibold text-blue-600 md:mb-2 lg:mb-0 hover:text-black "
                            title="read more">
                            Learn More
                            <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20"
                                height="20" fill="currentColor">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>