<footer class="bg-wickedgray-600 border-t border-wickedgray-400 ">
    <div
        class="container flex flex-col flex-wrap px-10 py-24 mx-auto md:items-center lg:items-start md:flex-row lg:flex-nowrap lg:px-24">
        <div class="flex-shrink-0 text-left w-72 lg:mx-0">
            <a href="./index.html" class="flex items-center font-medium title-font md:justify-start">
                {{> logo }}
            </a>
        </div>
        <div class="flex flex-wrap flex-grow mt-10 -mb-10 text-left md:pl-20 md:mt-0 lg;ml-auto">
            <div class="w-1/2 pr-6 md:w-1/2">
                <h2 class="mb-3 text-xs font-semibold tracking-widest text-blue-400 uppercase">Tailwind Templates</h2>
                <nav class="mb-10 space-y-4 list-none">
                    <li>
                        <a href="https://www.wickedtemplates.com/nextjs?ref=wickedblocks"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">
                            Next.js templates
                        </a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/demos.html?ref=wickedblocks"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">Free
                            templates
                        </a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/landing-pages.html?ref=wickedblocks"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">
                            Landing Pages templates</a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/multi-page.html?ref=wickedblocks"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">
                            Multi page templates</a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/templates.html?ref=wickedblocks"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">All
                            Templates</a>
                    </li>
                </nav>
            </div>
            <div class="w-1/2 pr-6 md:w-1/2">
                <h2 class="mb-3 text-xs font-semibold tracking-widest text-blue-400 uppercase">resources</h2>
                <nav class="mb-10 space-y-4 list-none">
                    <li>
                        <a href="https://www.wickedblocks.dev/"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">Wickedblocks</a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">Wickedtemplates</a>
                    </li>
                    <li>
                        <a href="https://www.wvsc.dev/"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">Wicked
                            VS Code</a>
                    </li>
                    <li>
                        <a href="https://www.30daysoftailwindcss.com/"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">30
                            Days of TCSS</a>
                    </li>
                    <li>
                        <a href="https://www.brutalist.one/"
                            class="text-sm text-white text-opacity-60 hover:text-blue-600 hover:text-opacity-100">Brutalist
                            Websites</a>
                    </li>
                </nav>
            </div>

        </div>
    </div>
</footer>
<footer class="bg-wickedgray-600 border-t border-wickedgray-400">
    <div class="container flex flex-col items-center px-5 py-4 lg:mx-auto md:px-6 lg:px-24 lg:flex-row">
        <div class="flex items-center justify-start font-mediumtext-gray-900 title-font">
            <div class="mt-4 text-sm text-gray-500 sm:ml-4 sm:py-2 sm:mt-0text-sm">
                Since 2018 - <span id="js-year"></span>
            </div>
        </div>
        <div class="inline-flex items-center justify-end mt-4 space-x-2 space-y-2 lg:ml-auto lg:mt-0">
            <div class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0">
                by
                <a href="https://twitter.com/mike_andreuzza" class="px-2 hover:text-gray-500"
                    rel="noopener noreferrer">@mike_andreuzza</a>
                &amp;
                <a href="https://twitter.com/g_perales" class="px-2 hover:text-gray-500"
                    rel="noopener noreferrer">@g_perales</a>
            </div>
        </div>
    </div>
</footer>