<footer class="text-gray-600 bg-black border-t  border-wickedgray-300">
    <div class="container flex flex-col items-center px-5 py-4 lg:mx-auto md:px-6 lg:px-16 lg:flex-row">
        <div class="flex items-center justify-start font-medium text-gray-900 title-font">
            <p class="mt-4 text-BASE text-gray-50 sm:ml-4 sm:py-2 sm:mt-0 ">
                wickedblocks &nbsp; | &nbsp; since 2021
            </p>
        </div>
        <span class="inline-flex items-center justify-start gap-2 mt-4 lg:mx-auto lg:mt-0">
            <p class="mt-4 text-sm text-gray-50 sm:pl-4 sm:py-2 sm:mt-0 hover:text-white">
                <a href="https://www.unicornsfeed.com/" target="_blank">TUF</a>
            </p>
            <p class="mt-4 text-sm text-gray-50 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 hover:text-white">
                <a href="https://www.colorsandfonts.com/" target="_blank">COLORSANDFONTS</a>
            </p>
            <p class="mt-4 text-sm text-gray-50 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 hover:text-white">
                <a href="https://www.wickedtemplates.com/" target="_blank">WICKEDTEMPLATES</a>
            </p>
        </span>
        <span class="inline-flex items-center justify-start gap-2 mt-4 lg:lr-auto lg:mt-0">
            <p class="mt-4 text-sm text-gray-50 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0">
                by
                <a href="https://twitter.com/mike_andreuzza" class="px-2 hover:text-white" rel="noopener noreferrer"
                    target="_blank">@mike_andreuzza</a>
                    &amp;
                    <a href="https://twitter.com/g_perales" class="px-2 hover:text-white" rel="noopener noreferrer"
                        target="_blank">@g_perales</a>
            </p>
        </span>
    </div>
</footer>