<div
    class="fixed z-50 flex items-center justify-between w-full px-5 overflow-y-auto bg-black border-b border-gray-300 text-gray-50 menu lg:px-28 whitespace-nowrap scroll-hidden ">
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./left-headers.html">Left Headers
    </a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./centered-headers.html">Centered Headers</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./right-headers.html">Right Headers</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./auth.html">Auth</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./pricing.html">Pricing</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./clients.html">Clients</a>
    
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./forms.html">Forms</a>

    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./navigation.html">Navigation</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./footers.html">Footers</a>
</div>