<div
    class="fixed z-50 flex items-center justify-between w-full px-5 overflow-y-auto bg-black border-b border-gray-300 text-gray-50 menu lg:px-28 whitespace-nowrap scroll-hidden">
    <a class="text-white border border-gray-300 rounded-lg hover:bg-gray-300 " href="./index.html">
        <div class="p-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-smart-home" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105" />

            </svg>
        </div>
    </a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./left-headers.html">Left Headers
    </a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./centered-headers.html">Centered Headers</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./right-headers.html">Right Headers</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./auth.html">Auth</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./pricing.html">Pricing</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./clients.html">Clients</a>
    
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./forms.html">Forms</a>

    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./navigation.html">Navigation</a>
    <a class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent text-gray-30 hover:border-white hover:text-white focus:outline-none focus:shadow-none focus:text-blue-400 md:my-0"
        href="./footers.html">Footers</a>


</div>