
<section class="text-gray-700 ">
    <div class="container px-5 py-4 mx-auto lg:px-32">
        <div class="px-4 mx-auto mt-16 max-w-8xl sm:px-6 lg:px-8">
            <div
                class="relative px-4 py-6 overflow-hidden bg-black rounded-lg shadow-thick sm:px-6 sm:py-8 lg:p-12 xl:p-16">
                <div
                    class="inline-flex items-center justify-start w-full mb-4 text-left md:justify-center lg:justify-start md:text-center lg:text-left">
                    <div class="w-1 h-1 p-2 mr-2 bg-blue-600 rounded-full">
                    </div>
                    <h2
                        class="text-xs font-bold tracking-tighter text-white uppercase transition duration-500 ease-in-out transform hover:text-gray-100 ">
                        wickedtemplates
                    </h2>
                </div>
                <p
                    class="p-2 mb-4 text-xl font-medium leading-snug text-left text-white uppercase bg-gray-500 rounded-xl md:text-center lg:text-left md:text-xl lg:text-lg lg:w-1/2">
                    Spring Offer! 30% discount on all products. Use the Code <span
                        class="font-bold text-lightBlue-600">wicked30</span>
                </p>
                <h1
                    class="mb-4 text-4xl font-bold leading-none tracking-tighter text-left text-blue-600 md:text-center lg:text-left md:text-5xl title-font">
                    Tired of designing?
                </h1>
                <p
                    class="mb-4 text-xl leading-snug text-left text-white md:text-center lg:text-left md:text-xl lg:text-lg lg:w-1/2">
                    Don't lose precious days designing the landing page and testing a site. Instead,
                    integrate one with your
                    favourite framework.
                </p>
                <div class="flex justify-start md:justify-center lg:justify-start">
                    <a href="https://wickedtemplates.com/?ref=blocks" target="_blank">
                        <button
                            class="inline-flex items-center w-full px-6 py-2 mt-auto text-base font-normal text-black transition duration-500 ease-in-out transform bg-white rounded-lg lg:text-xl hover:bg-gray-500 hover:text-white focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
                            Get your template now.
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="ml-4 icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <line x1="5" y1="12" x2="19" y2="12" />
                                <line x1="15" y1="16" x2="19" y2="12" />
                                <line x1="15" y1="8" x2="19" y2="12" />
                            </svg>
                        </button>
                    </a>
                </div>
                <div class="absolute inset-y-0 right-0 hidden lg:block lg:left-2/3 xl:left-1/2 lg:pl-12">
                    <img class="object-cover object-left w-full h-full" src="https://d33wubrfki0l68.cloudfront.net/14b20eafc30b9c6158702b10b6446437d7003b98/73e7b/ad.png" alt="wickedtemplates add">
                </div>
            </div>
        </div>
    </div>
</section>
