<div class="container items-center px-5 py-12 lg:px-20">

    <div class="flex flex-wrap items-center justify-center w-full p-4 -m-4">
        <div class="w-full p-2 my-6 md:w-1/3">
            <div class="relative flex flex-col h-full p-8 bg-white border rounded-lg shadow-xl ">
                <div class="inline-flex items-center mx-auto">

                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="mb-4 text-red-500 icon icon-tabler icon-tabler-arrow-narrow-down" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="12" y1="5" x2="12" y2="19" />
                        <line x1="16" y1="15" x2="12" y2="19" />
                        <line x1="8" y1="15" x2="12" y2="19" />
                    </svg>
                </div>

                <strong class="flex items-end mx-auto text-3xl font-black leading-none text-gray-500 ">
                    <span>$50 </span>
                </strong>

                <span class="mx-auto mt-6 text-sm text-gray-500">Only once within 6 months</span>
            </div>
        </div>
        <div class="w-full p-2 my-6 md:w-1/3">
            <div class="relative flex flex-col h-full p-8 bg-white border rounded-lg shadow-xl ">
                <div class="inline-flex items-center mx-auto">

                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="mb-4 text-green-500 icon icon-tabler icon-tabler-arrow-up" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="12" y1="5" x2="12" y2="19" />
                        <line x1="18" y1="11" x2="12" y2="5" />
                        <line x1="6" y1="11" x2="12" y2="5" />
                    </svg>
                </div>

                <strong class="flex items-end mx-auto text-3xl font-black leading-none text-gray-500 ">
                    <span>$50 </span>
                </strong>

                <span class="mx-auto mt-6 text-sm text-gray-500">Only once within 6 months</span>
            </div>
        </div>
    </div>
</div>