<div class="container items-center px-5 py-12 lg:px-20">
    <div class="w-full text-gray-500 border rounded-lg ">
        <div class="flex items-center justify-between px-6 py-4 mx-auto ">
            <div class="flex">
                <p class="text-sm font-semibold tracking-wide uppercase ">
                    If any Environment Variables values are changed between Deployments,
                    deduplication will always be bypassed.</p>
            </div>
           
        </div>
    </div>
</div>