<div class="container items-center px-5 py-12 lg:px-20">


        <form
            class="flex flex-col w-full p-10 px-8 pt-6 mx-auto my-6 mb-4 transition duration-500 ease-in-out transform bg-black border border-gray-800 rounded-lg lg:w-1/2 hover:border-white">

            <section class="flex flex-col w-full h-full p-1 overflow-auto">
                <header
                    class="flex flex-col items-center justify-center py-12 text-base text-white transition duration-500 ease-in-out transform bg-black border border-transparent border-gray-800 border-dashed rounded-lg focus:border-blue-500 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
                    <p class="flex flex-wrap justify-center mb-3 text-sm leading-7 text-white">
                        <span>Drag and drop your</span>&nbsp;<span>files anywhere or</span>
                    </p>
                    <button
                        class="w-auto px-16 py-1 my-2 mr-2 text-white transition duration-500 ease-in-out transform border border-gray-900 rounded-lg text-md hover:bg-gray-900 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 focus:border-gray-700 focus:bg-gray-800">
                        Upload a file
                    </button>
                </header>


            </section>

            <div class="relative pt-4">
                <label for="name" class="text-sm leading-7 text-white">Title</label>
                <input type="email" id="email" name="email" placeholder="name"
                    class="w-full px-4 py-2 mb-4 mr-4 text-base text-white transition duration-500 ease-in-out transform bg-black border border-transparent border-gray-800 rounded-lg focus:border-blue-500 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
            </div>

            <div class="relative ">
                <label for="name" class="text-sm leading-7 text-white">Tags</label>
                <input type="email" id="email" name="email" placeholder="name"
                    class="w-full px-4 py-2 mb-4 mr-4 text-base text-white transition duration-500 ease-in-out transform bg-black border border-transparent border-gray-800 rounded-lg focus:border-blue-500 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
            </div>
            <p class="flex flex-wrap mb-3 text-sm leading-7 text-white">
                <span>Suggeted tags</span>
            </p>
            <div class="inline-flex items-center w-full pb-8">
                <button
                    class="mr-6 text-white transition duration-500 ease-in-out transform rounded-md hover:text-gray-500 text-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 ">
                    Javascript
                </button>
                <button
                    class="mr-6 text-white transition duration-500 ease-in-out transform rounded-md hover:text-gray-500 text-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 ">
                    CSS
                </button>
                <button
                    class="mr-6 text-white transition duration-500 ease-in-out transform rounded-md hover:text-gray-500 text-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 ">
                    Laravel
                </button>
                <button
                    class="mr-6 text-white transition duration-500 ease-in-out transform rounded-md hover:text-gray-500 text-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 ">
                    Tailwind
                </button>
                <button
                    class="mr-6 text-white transition duration-500 ease-in-out transform rounded-md hover:text-gray-500 text-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 ">
                    Responsive
                </button>
                <button
                    class="mr-6 text-white transition duration-500 ease-in-out transform rounded-md hover:text-gray-500 text-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 ">
                    UI/UX
                </button>

            </div>
            <div class="flex flex-wrap mb-6 -mx-3">
                <div class="w-full px-3">
                    <label class="text-sm leading-7 text-white" for="description">
                        Description
                    </label>
                    <textarea
                        class="w-full h-32 px-4 py-2 text-base text-white transition duration-500 ease-in-out transform bg-black border border-transparent border-gray-800 rounded-lg focus:border-blue-500 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 apearance-none autoexpand"
                        id="description" type="text" name="description" placeholder="Message..." required></textarea>
                </div>
            </div>
            <div class="flex">

                <label class="flex items-center">

                    <input type="checkbox" class="form-checkbox ">
                    <span class="ml-2 text-white">Hide from public </span>
                </label>
            </div>
            <div class="flex items-center w-full pt-4">
                <button
                    class="w-full py-3 text-blue-100 transition duration-500 ease-in-out transform bg-blue-600 border-blue-600 rounded-md text-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-blue-800 ">
                    Primary
                </button>
            </div>
        </form>

</div>