<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<link rel="stylesheet" type="text/css" href="css/blackboard.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet">
		<title>wickedblocks</title>
	</head>
	<body class="bg-gray-500 anitialised">
		{{#block "body"}}
		{{/block}}
		{{>footer}}
		<!-- <a href="http://wickedtemplates.com/?ref=caf" target="_blank" class="fixed bottom-0 right-0 z-10 m-2 rounded-full">
			<div class="items-center justify-start hidden font-medium text-gray-900 lg:flex w-52 title-font">
				<img class="object-cover object-center rounded-full bg-blue-1300" alt="badge"
					src="https://www.colorsandfonts.com/WickedTemplates.svg">
			</div>
		</a> -->
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	</body>
</html>