<!doctype html>
<html lang="en-US">
	<head>
		<meta name="theme-color" content="#000000">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<link rel="stylesheet" type="text/css" href="css/blackboard.css" />

		<meta property="og:url" content="https://wickedblocks.dev" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://wickedblocks.dev/images/og.png" />
		<meta name="description"
			content="A collection of layouts and components built with Tailwind ready to copy paste on your next project." />

			<meta name="keywords"
				content="Tailwind CSS Templates, Tailwind CSS Themes,  Tailwind CSS Boilerplate, CSS Frameworks, Responsive Templates, HTML5, CSS, Boilerplate, Themes, Templates, Free Templates, Free blocks ready to copy-paste " />
				<meta property="og:title"
					content="A collection of layouts and components built with Tailwind ready to copy paste on your next project." />
		<!------- Twitter -->
		<meta name="twitter:card" content="Summary" />
		<meta name="twitter:url" content="https://wickedblocks.dev" />
		<meta name="twitter:title"
			content="A collection of layouts and components built with Tailwind ready to copy paste on your next project." />
		<meta name="twitter:image" content="https://wickedblocks.dev/images/ogtwitter.png" />
	<!------- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#3473fd">
		<meta name="msapplication-TileColor" content="#3473fd">
		<meta name="theme-color" content="#3473fd">
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet">
		<title>wickedblocks</title>
	</head>
	<body class="bg-gray-500 anitialised">
		{{#block "body"}}
		{{/block}}
		{{>footer}}
		<!-- <a href="http://wickedtemplates.com/?ref=caf" target="_blank" class="fixed bottom-0 right-0 z-10 m-2 rounded-full">
			<div class="items-center justify-start hidden font-medium text-gray-900 lg:flex w-52 title-font">
				<img class="object-cover object-center rounded-full bg-blue-1300" alt="badge"
					src="https://www.colorsandfonts.com/WickedTemplates.svg">
			</div>
		</a> -->
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	</body>
</html>