<div class="container items-center px-5 py-12 lg:px-20">
    <div class="flex flex-wrap ">
        <div class="w-full mx-auto my-4 bg-white border rounded-lg shadow-xl lg:w-1/4">

            <div class="p-6 text-center">

                <img alt="team"
                    class="flex-shrink-0 object-cover object-center w-16 h-16 mx-auto -mt-12 rounded-full shadow-xl aboslute"
                    src="https://storage.googleapis.com/indie-hackers.appspot.com/avatars/300x300_DUFTlhOdmSdoT9F4r1Woo40pyML2.webp">

                <h2 class="pt-4 mb-8 text-xs font-semibold tracking-widest text-black uppercase title-font"> great info
                    right here</h2>

                <h4
                    class="mb-8 text-2xl font-semibold leading-none tracking-tighter text-black lg:text-3xl title-font ">
                    Note</h4>
                <p class="mb-3 text-base leading-relaxed text-gray-500">
                    If any Environment Variables values are
                    changed between Deployments, deduplication will always be bypassed. </p>
                </p>



            </div>
        </div>
    </div>

</div>