<div class="container items-center px-5 py-12 lg:px-20">

    <div class="p-6 mx-auto bg-white border rounded-lg shadow-xl lg:w-1/2">

        <div class="inline-flex items-start py-2 rounded-lg">
            <div class="flex items-center">
                <img src="https://dummyimage.com/200x200/F3F4F7/8693ac" alt="placeholder" class="rounded-lg">
            </div>
            <div class="inline-flex items-center w-full ml-4 text-gray-500">
                <p class="mb-3 text-base leading-relaxed text-gray-500"> If any Environment Variables values are
                    changed between Deployments, deduplication will always be bypassed. So you know. </p>
            </div>
        </div>

    </div>
</div>