<div class="container items-center px-5 py-12 lg:px-20">

    <div class="flex flex-wrap ">
        <div class="mx-auto my-4 bg-white border rounded-lg md:w-1/4">
            <div class="flex items-center w-full h-32 p-8 text-gray-500 rounded-t-lg bg-whie">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="64" height="64" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="9" />
                </svg>
            </div>
            <div class="p-6 border-t rounded-b-lg">
                <div class="inline-flex items-center w-full text-gray-500">
                    <span class="text-xl font-semibold tracking-tighter lg:text-2xl">
                        Info
                        <p class="mb-2 text-base font-normal tracking-tight text-gray-500">
                            If any Environment Variables values are changed between Deployments,
                            deduplication will always be bypassed.
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>