<div class="container items-center px-5 py-12 lg:px-20">
    <div class="flex flex-wrap ">
        <div class="w-full mx-auto my-4 bg-white border rounded-lg shadow-xl lg:w-1/4">

            <div class="p-6">
                <h2 class="mb-8 text-xs font-semibold tracking-widest text-black uppercase title-font"> great info right
                    here</h2>
                <h4
                    class="mb-8 text-2xl font-semibold leading-none tracking-tighter text-black lg:text-3xl title-font ">
                    Note</h4>
                <p class="mb-3 text-base leading-relaxed text-gray-500">
                    If any Environment Variables values are
                    changed between Deployments, deduplication will always be bypassed. </p>
                </p>
                <div class="flex flex-wrap justify-between">
                    <a href="#" class="text-sm font-semibold text-blue-600 uppercase hover:text-black"
                        title="read more">

                        Data

                    </a>
                    <a href="#" class="text-sm font-semibold text-blue-600 uppercase hover:text-black"
                        title="read more">

                        Data

                    </a>
                    <a href="#" class="text-sm font-semibold text-blue-600 uppercase hover:text-black"
                        title="read more">

                        Data

                    </a>
                </div>

            </div>
        </div>
    </div>
</div>