<div class="container items-center px-5 py-12 lg:px-20">

    <div class="flex flex-wrap ">
        <div class="mx-auto my-4 bg-white border rounded-lg md:w-1/4">
            <div class="flex items-center w-full h-32 text-gray-500 bg-white bg-center bg-cover rounded-t-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="9" />
                </svg>
            </div>
            <div class="p-6 border-t rounded-b-lg ">
                <img alt="team"
                    class="flex-shrink-0 object-cover object-center w-16 h-16 mx-auto mr-1 -mt-12 rounded-full aboslute"
                    src="https://pbs.twimg.com/profile_images/1315223444729065472/24GP8wBe_400x400.jpg">
                <div class="relative">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="ml-auto mr-2 -mt-4 bg-blue-700 rounded-full fill-current text-blue-00 " width="16"
                        height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 12l2 2l4 -4" />
                    </svg>
                </div>
                <div class="inline-flex items-center w-full text-gray-500">
                    <span class="text-xl font-semibold tracking-tighter lg:text-2xl">
                        <div class="inline-flex items-center">
                            Name
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="ml-4 text-green-500 transform fill-current stroke-current icon animate-pulse"
                                width="8" height="8" viewBox="0 0 24 24" stroke-width="1.5" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="12" cy="12" r="9" />
                            </svg>
                        </div>
                        <p class="mb-2 text-base font-normal tracking-tight text-gray-500">
                            If any Environment Variables values are changed between Deployments,
                            deduplication will always be bypassed.
                        </p>
                        <div class="flex items-center justify-between pt-4">
                            <p class="mb-2 text-sm font-normal tracking-tight text-gray-500">
                                53K Views
                            </p>
                            <span class="inline-flex items-center font-thin text-gray-500">|</span>
                            <p class="mb-2 text-sm font-normal tracking-tight text-gray-500">
                                2 Weeks ago</p>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>