<div class="container items-center px-5 py-12 lg:px-20">
    <div class="flex flex-wrap ">
        <div class="w-full mx-auto my-4 bg-white border rounded-lg shadow-xl lg:w-1/4">

            <div class="p-6">
                <h4 class="mb-4 text-xl font-semibold text-gray-900 lg:text-4xl ">Note</h4>
                <p class="mb-3 text-base leading-relaxed text-gray-500">
                    If any Environment Variables values are
                    changed between Deployments, deduplication will always be bypassed. So you know. </p>
                </p>
                <a href="#" class="text-sm font-semibold text-blue-600 uppercase hover:text-black" title="read more">
                    Read More - Article 1 &nbsp; »
                </a>
            </div>
        </div>
    </div>
    </div>